html{
  scroll-snap-type: y mandatory;
}
.app{
  height:100vh;
  background-color: black;
  display:grid;
  place-items: center;
}
.app__videos{
  position: relative;
  height:600px;
  width:100%;
  border-radius: 20px;
  overflow: scroll;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}
/* hide scrollbar from chrome */
.app__videos::-webkit-scrollbar{
  display:none
}
/* hide scrollbar for IE, Edge and forefox */
.app__videos{
  -ms-overflow-style:none; /* IE and edge */
  scrollbar-width: none; /* forefox */

}